# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Default values for skywalking.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

serviceAccounts:
  oap:
    # By default, create SkyWalking's ServiceAccount. If set to false, you also need to change `serviceAccounts.oap.name` value to a custom ServiceAccount name.
    create: true
    name: ""

imagePullSecrets: []

initContainer:
  image: busybox
  tag: '1.30'

oap:
  name: oap
  image:
    repository: skywalking.docker.scarf.sh/apache/skywalking-oap-server
    tag: null # Must be set explicitly
    pullPolicy: IfNotPresent
  storageType: null
  ports:
    # add more ports here if you need, for example
    # zabbix: 10051
    grpc: 11800
    rest: 12800
    # zipkinreceiver: 9411
    # zipkinquery: 9412
  replicas: 2
  service:
    type: ClusterIP
    # add annotations to the oap service
    annotations: {}
  javaOpts: -Xmx2g -Xms2g
  antiAffinity: "soft"
  nodeAffinity: {}
  nodeSelector: {}
  tolerations: []
  resources: {}
  # limits:
  #   cpu: 8
  #   memory: 8Gi
  # requests:
  #   cpu: 8
  #   memory: 4Gi
  livenessProbe: {}
  # tcpSocket:
  #   port: 12800
  # initialDelaySeconds: 5
  # periodSeconds: 20
  startupProbe: {}
  # Time to boot the application is set to:
  # 9 (failureThreshold) * 10 (periodSeconds) = 90 seconds in this case.
  # tcpSocket:
  #   port: 12800
  # failureThreshold: 9
  # periodSeconds: 10
  readinessProbe: {}
  # tcpSocket:
  #   port: 12800
  # initialDelaySeconds: 5
  # periodSeconds: 20
  # podAnnotations:
  #   example: oap-foo
  securityContext: {}
  # runAsUser: 1000
  # runAsGroup: 1000
  # fsGroup: 1000
  env: # more env, please refer to https://hub.docker.com/r/apache/skywalking-oap-server

  # or https://github.com/apache/skywalking-docker/blob/master/6/6.4/oap/README.md#sw_telemetry

  # Allows you to add any config files in /skywalking/config
  # such as log4j2.xml, oal/core.oal, etc.
  config: {}
  # metadata-service-mapping.yaml: |
  #   serviceName: e2e::${LABELS."service.istio.io/canonical-name"}
  #   serviceInstanceName: ${NAME}
  # oal:
  #   core.oal: |
  #     service_resp_time = from(Service.latency).longAvg();
  #     service_sla = from(Service.*).percent(status == true);
  #     service_cpm = from(Service.*).cpm();
  # log4j2.xml: |
  #   <Configuration status="DEBUG">
  #     <!-- ... -->
  #   </Configuration>
  # ui-initialized-templates:
  #   general:
  #     general-service.json: |
  #       [{"id":"General-Service" ... }]
  # When 'dynamicConfig.enabled' set to true, enable oap dynamic configuration through k8s configmapï¼Œ
  # Note: The default configmap data is empty, please refer to the detailed documentation (https://github.com/apache/skywalking/blob/master/docs/en/setup/backend/dynamic-config.md)
  # Sync period in seconds. Defaults to 60 seconds.
  dynamicConfig:
    enabled: false
    period: 60
    config: {}
    #  agent-analyzer.default.slowDBAccessThreshold: default:200,mongodb:50
    #  alarm.default.alarm-settings: |
    #   rules:
    #     # Rule unique name, must be ended with `_rule`.
    #     service_resp_time_rule:
    #       metrics-name: service_resp_time
    #       op: ">"
    #       threshold: 1000
    #       period: 10
    #       count: 3
    #       silence-period: 5
    #       Response time of service {name} is more than 1000ms in 3 minutes of last 10 minutes.

    # A list of secrets and their paths to mount inside the pod
  secretMounts: []
#    - name: elastic-certificates
#      secretName: elastic-certificates
#      path: /usr/share/elasticsearch/config/certs

ui:
  name: ui
  replicas: 1
  image:
    repository: skywalking.docker.scarf.sh/apache/skywalking-ui
    tag: null # Must be set explicitly
    pullPolicy: IfNotPresent
  # podAnnotations:
  #   example: oap-foo
  nodeAffinity: {}
  nodeSelector: {}
  tolerations: []
  ingress:
    enabled: false
    annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
    path: /
    hosts: []
    # - skywalking.local
    tls: []
    #  - secretName: skywalking-tls
    #    hosts:
    #      - skywalking.local
  service:
    type: ClusterIP
    # clusterIP: None
    externalPort: 80
    internalPort: 8080
    ## nodePort is the port on each node on which this service is exposed when type=NodePort
    ## Default: auto-allocated port if not specified. 30080 is just an example
    ##
    # nodePort: 30080
    ## External IP addresses of service
    ## Default: nil
    ##
    # externalIPs:
    # - 192.168.0.1
    #
    ## LoadBalancer IP if service.type is LoadBalancer
    ## Default: nil
    ##
    # loadBalancerIP: 10.2.2.2
    # Annotation example: setup ssl with aws cert when service.type is LoadBalancer
    # service.beta.kubernetes.io/aws-load-balancer-ssl-cert: arn:aws:acm:us-east-1:EXAMPLE_CERT
    annotations: {}
    ## Limit load balancer source ips to list of CIDRs (where available)
    # loadBalancerSourceRanges: []
  securityContext: {}
  # runAsUser: 1000
  # runAsGroup: 1000
  # fsGroup: 1000
  env:


oapInit:
  nodeAffinity: {}
  nodeSelector: {}
  tolerations: []
  extraPodLabels: {}
  # sidecar.istio.io/inject: false

# ECK Operator settings
# Set eckOperator.enabled to false if the ECK operator is already installed in your cluster
eckOperator:
  enabled: true

# Elasticsearch managed by ECK (eck-elasticsearch chart)
# ref: https://github.com/elastic/cloud-on-k8s
elasticsearch:
  enabled: true
  version: 8.18.8
  fullnameOverride: ""

  # For users of an existing elasticsearch cluster, takes effect when `elasticsearch.enabled` is false
  config:
    host: elasticsearch # es service on kubernetes or host
    port:
      http: 9200
    user: "" # [optional]
    password: "" # [optional]

  # Labels that will be applied to the Elasticsearch resource
  labels: {}

  # Annotations that will be applied to the Elasticsearch resource
  annotations: {}

  # Settings to control how Elasticsearch will be accessed
  # ref: https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-accessing-elastic-services.html
  http:
    # Disable TLS on HTTP layer so OAP can connect without certificate trust configuration.
    # To re-enable TLS, remove the tls section or set disabled to false,
    # and configure OAP to trust the self-signed certificate.
    tls:
      selfSignedCertificate:
        disabled: true
    # service:
    #   spec:
    #     type: LoadBalancer

  # Control Elasticsearch Secure Settings
  # ref: https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-es-secure-settings.html
  secureSettings: []
  #  - secretName: one-secure-settings-secret

  # Settings for limiting the number of simultaneous changes to an Elasticsearch resource
  # ref: https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-update-strategy.html
  updateStrategy: {}
  #  changeBudget:
  #    maxSurge: 3
  #    maxUnavailable: 1

  # VolumeClaimDeletePolicy sets the policy for handling deletion of PersistentVolumeClaims for all NodeSets.
  # Possible values are DeleteOnScaledownOnly and DeleteOnScaledownAndClusterDeletion.
  volumeClaimDeletePolicy: ""

  # Node configuration settings
  # ref: https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-node-configuration.html
  nodeSets:
  - name: default
    count: 3
    config:
      # For production workloads, it is strongly recommended to increase the kernel setting
      # vm.max_map_count to 262144 via an initContainer and leave node.store.allow_mmap unset.
      # ref: https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-virtual-memory.html
      node.store.allow_mmap: false
    # Persistent storage for Elasticsearch data
    # volumeClaimTemplates:
    # - metadata:
    #     name: elasticsearch-data
    #   spec:
    #     accessModes:
    #     - ReadWriteOnce
    #     resources:
    #       requests:
    #         storage: 30Gi
    #     # storageClassName: standard
    podTemplate:
      metadata: {}
        # annotations:
        #   iam.amazonaws.com/role: es-cluster
        # labels:
        #   my-label: my-value
      spec:
        # Pod scheduling constraints
        # ref: https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-advanced-node-scheduling.html

        # affinity:
        #   nodeAffinity:
        #     requiredDuringSchedulingIgnoredDuringExecution:
        #       nodeSelectorTerms:
        #       - matchExpressions:
        #         - key: topology.kubernetes.io/zone
        #           operator: In
        #           values:
        #           - us-east-1a

        # nodeSelector: {}

        # tolerations: []

        # imagePullSecrets: []

        # priorityClassName: ""

        # terminationGracePeriodSeconds: 120

        # Init containers (e.g. to set vm.max_map_count or install plugins)
        # initContainers:
        # - command:
        #   - sh
        #   - "-c"
        #   - sysctl -w vm.max_map_count=262144
        #   name: sysctl
        #   securityContext:
        #     privileged: true
        #     runAsUser: 0

        containers:
        - name: elasticsearch
          resources:
            requests:
              cpu: 100m
              memory: 2Gi
            limits:
              memory: 2Gi
          # Environment variables (replaces the old extraEnvs and esJavaOpts)
          # env:
          # - name: ES_JAVA_OPTS
          #   value: "-Xms1g -Xmx1g"

          # Container-level security context (typically set by ECK automatically)
          # securityContext:
          #   capabilities:
          #     drop:
          #     - ALL
          #   runAsNonRoot: true
          #   runAsUser: 1000

  # Ingress configuration for exposing Elasticsearch externally
  ingress:
    enabled: false
    annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
    hosts:
    - host: chart-example.local
      path: /
    tls:
      enabled: false
      # secretName: chart-example-tls

postgresql:
  enabled: false # Whether to start a demo postgresql deployment, don't use this for production.
  config:
    # The hostname of your own postgresql service, this only takes effect when postgresql.enabled is false.
    host: postgresql-service.your-awesome-company.com
  auth:
    postgresPassword: "123456"
    username: postgres
    password: "123456"
    database: skywalking
  containerPorts:
    postgresql: 5432
  primary:
    persistence:
      enabled: false
  readReplicas:
    persistence:
      enabled: false

banyandb:
  enabled: false
  config:
    grpcAddress: "banyandb-grpc:17912"
    httpAddress: "banyandb-http:17913"
  auth:
    enabled: false
    users:
    - username: "admin"
      password: "banyandb"
  standalone:
    enabled: true
  cluster:
    enabled: false
    liaison:
      replicas: 1
    data:
      replicas: 1
    fodc:
      agent:
        resources:
          requests:
            - key: memory
              value: 256Mi
          limits:
            - key: memory
              value: 256Mi
  etcd:
    enabled: false
    replicaCount: 1

satellite:
  name: satellite
  replicas: 1
  enabled: false
  image:
    repository: skywalking.docker.scarf.sh/apache/skywalking-satellite
    tag: null # Must be set explicitly
    pullPolicy: IfNotPresent
  ports:
    grpc: 11800
    prometheus: 1234
    # Disable the pprof port by default, only enabled it when you need to debug the satellite.
    # pprof: 6060
  service:
    type: ClusterIP
  antiAffinity: "soft"
  nodeAffinity: {}
  nodeSelector: {}
  tolerations: []
  resources: {}
  # limits:
  #   cpu: 4
  #   memory: 8Gi
  # requests:
  #   cpu: 4
  #   memory: 4Gi
  podAnnotations: # example: oap-foo

  env: # more env, please refer to https://skywalking.apache.org/docs/skywalking-satellite/latest/en/setup/readme/#satellite_configyaml

  # Allows you to add any config files in /skywalking/config.
  config: {}
  # satellite_config.yaml: |
  #   key: val
  securityContext: {}
  # runAsUser: 1000
  # runAsGroup: 1000
  # fsGroup: 1000

nameOverride: ""
fullnameOverride: ""
