# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Test Compatibility

on:
  pull_request:
    paths:
      - '!**.md'

env:
  ISTIO_VERSION: 1.7.1
  SATELLITE_TAG: v4b97fd255b6459fe9d3fc4f88c0d8f682fc2a364
  SATELLITE_REPO: ghcr.io/apache/skywalking-satellite/skywalking-satellite

jobs:
  als:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      matrix:
        images:
          - oap-repo: skywalking.docker.scarf.sh/apache/skywalking-oap-server
            oap-tag: 8.6.0-es6
            ui-repo: skywalking.docker.scarf.sh/apache/skywalking-ui
            ui-tag: 8.6.0
    env:
      OAP_TAG: ${{ matrix.images.oap-tag }}
      OAP_REPO: ${{ matrix.images.oap-repo }}
      UI_TAG: ${{ matrix.images.ui-tag }}
      UI_REPO: ${{ matrix.images.ui-repo }}
    name: als_${{ matrix.images.oap-tag }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: apache/skywalking
          submodules: true
          path: main
          ref: 8436135dc919351a6d0ab42ff48c85e1b3104b53
      - uses: actions/checkout@v2
        with:
          repository: apache/skywalking-satellite
          submodules: true
          path: satellite
          ref: 4b97fd255b6459fe9d3fc4f88c0d8f682fc2a364

      - name: Load SkyWalking OAP And UI Image
        run: |
          docker pull $OAP_REPO:$OAP_TAG
          docker pull $UI_REPO:$UI_TAG
          docker pull $SATELLITE_REPO:$SATELLITE_TAG

      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: '1.16'
      - name: Run E2E Test
        uses: apache/skywalking-infra-e2e@45584853d6f660102c523b1e9cb5815d12ae55d3
        with:
          e2e-file: $GITHUB_WORKSPACE/test/e2e/e2e.yaml
      - uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        name: Upload Logs
        with:
          name: logs
          path: "${{ env.SW_INFRA_E2E_LOG_DIR }}"
